*{
    scroll-behavior: smooth;
}
.hoverer{
    transition: all .5s ease-in-out;
    
}

.hoverer:hover{
    transform: scale(106%);
    box-shadow: 0 0.5rem 1rem rgba(0,0,0,0.15) !important ;
}

.card-body a:hover, .tii a:hover{
    color: black;
}


.hoverer-two{
    transition: all .8s ease-in-out;
}

.hoverer-two:hover{
    transform: scale(104%);
    box-shadow: 0 0.5rem 1rem rgba(0,0,0,0.15) !important ;
    
}

.hoverer-three{
    transition: all .7s ease-in-out;
}

.hoverer-three:hover{
    transform: scale(100%);
    box-shadow: 0 0.5rem 1rem rgba(0,0,0,0.15) !important ;
    
}