/* ********************************DROP DOWN************************************ */
.dropdown{
    width: 10vw;
    height: 20vh;
    position: absolute;
    top: 50px;
    opacity: 0;
    visibility: hidden;
    background: none;
    z-index: 10;
    transition: .5s;
    margin-left: -11%;
}


.dropdown-inner{
    width: 10vw;
    height: 20vh;
    position: absolute;
    background: white;
    box-shadow: 0 0.5rem 1rem rgba(0,0,0,0.15);
    transition: .4s;
}
.dropdown-inner > ul.dropdown-items{
    list-style-type: none;
    margin: 10px;
    padding: 10px;
    
}
.dropdown-inner > ul.dropdown-items > li{
    text-align: center;
}
.products-hover:hover + .dropdown {
    opacity: 1;
    visibility: visible;
}

.products-hover+ .dropdown:hover{
    opacity: 1;
    visibility: visible;

}



/* *************************************************CATEGORIES******************************* */

.categories{
    width: 10vw;
    height: 30vh;
    position: fixed;
    top: 33%;
    background: none;
    z-index: 10;
    cursor: pointer;
}


.categories-toggler{
    position: fixed;
    z-index: 30;
    height: 2.2rem;
    width: 2.2rem;
    border: none;
    border-radius: 50%;
    background-color: black;
    bottom: 20px;
    right: 20px;
}
.categories-inner{
    width: 10vw;
    height: 30vh;
    position: absolute;
    background: white;
    box-shadow: 0 0.5rem 1rem rgba(0,0,0,0.15) ;
    transition: .4s;
    left: -100%;
    
}
.left{
    left: 0 !important;
}

.categories-inner > ul.categories-items{
    list-style-type: none;
    margin: 10px;
    padding: 10px;
    
}
.categories-inner > ul.categories-items > li{
    text-align: center;
}





@media screen and (min-width:500px)  and (max-width:991px){
    
h5{
    display: none;
}
.categories-inner{
    width: 20vw;
    height: 23vh;
    position: absolute;
    background: white;
    box-shadow: 0 0.5rem 1rem rgba(0,0,0,0.15) ;
    transition: .4s;
    left: -200%;
    
}
}

@media screen and (min-width:300px)  and (max-width:499.5px){

    h5{
        display: none;
    }

    .dropdown-inner{
        width: 24vw;
    }

    .dropdown{
        width: 30vw;
    }

    .categories-inner{
        width: 23vw;
        height: 23vh;
        position: absolute;
        background: white;
        box-shadow: 0 0.5rem 1rem rgba(0,0,0,0.15) ;
        transition: .4s;
        left: -250%;
        
    }
}